.sucursal-modal {
  width: 667px !important;
}

.sucursal-modal .ant-modal-content {
  min-height: 400px;
  height: 400px;
  display: block;
  align-items: unset;
  justify-content: unset;
}

.sucursal-modal-frame {
  width: 476px;
  height: 200px;
  margin: 64px auto 0 auto; 
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0;
}

.sucursal-modal-frame .modal-subtitle {
  margin: 16px 0 16px 0;
  text-align: center;
  width: 100%;
}

.sucursal-modal-frame .ant-form-item {
  margin-bottom: 16px;
}

.sucursal-modal-frame .ant-form-item:last-child {
  margin-bottom: 0;
}

.sucursal-modal-frame .ant-input {
  height: 32px !important;
  font-size: 16px;
  width: 100%;
}

.sucursal-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sucursal-modal-content > div {
  width: 100%;
  max-width: 440px;
}

.sucursal-modal-title {
  text-align: left;
  margin-bottom: 40px;
  margin-top: 8px;
  width: 100%;
}

.sucursal-modal .ant-modal-header {
  text-align: left;
}

.sucursal-modal .ant-modal-title {
  font-size: 16px;
  font-weight: 500;
}

.sucursal-modal-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.sucursal-modal-form .ant-input {
  height: 40px;
  font-size: 16px;
}

.sucursal-modal-form .ant-form-item {
  margin-bottom: 32px;
}

.sucursal-modal-form .ant-form-item:last-child {
  margin-bottom: 48px;
}

.sucursal-modal .ant-modal-footer {
  text-align: right;
  padding-right: 24px;
  padding-bottom: 24px;
}

.sucursal-modal .ant-modal-footer > div {
  justify-content: flex-end !important;
  gap: 8px;
}

.modal-subtitle {
  text-align: center;
  margin: 40px 0 40px 0;
  width: 100%;
}

.modal-subtitle h4.ant-typography {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  color: #555;
}

.sucursal-modal .ant-btn-primary[disabled] {
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

.sucursal-modal .ant-btn-primary:not([disabled]) {
  background-color: #262776 !important;
  border-color: #262776 !important;
}

.sucursal-modal .ant-btn-primary:not([disabled]):hover {
  background-color: #353593 !important;
  border-color: #353593 !important;
}

.sucursal-modal .ant-btn-primary:not([disabled]):active,
.sucursal-modal .ant-btn-primary:not([disabled]):focus {
  background-color: #262776 !important;
  border-color: #262776 !important;
  box-shadow: 0 0 0 2px rgba(38, 39, 118, 0.2) !important;
}
